$font-family1: 'Long Cang', cursive;
$font-family2: 'Orbitron', sans-serif;

// @mixin media($screen) {
//   @media(max-width:$screen) {
//     @content;
//   }
// }

$mobile: "475px";

body {
  background-image: url(asset/pacman.jpg);
  font-family: $font-family2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cde930;

}

header {
  font-size: 300%;
  text-align: center;
  font-family: $font-family1;
  text-shadow: -10px 5px 5px red;

}

#app {
  background-color: #19194e;
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: -3px 19px 31px 1px #d7e930;
  ;
}

input[type="text"],
button {
  margin-bottom: 10px;
  padding: 8px;
 
}
#submit-button{
   background-color: transparent;
   border: none;
   
   animation: 2s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  

}

li {

  margin-bottom: 8px;
 
  animation: 2s ease-in-out;

  &:hover {
    text-decoration: underline dotted rgb(247, 247, 247);
  }

  .completed {
    text-decoration: line-through;
    color: #e20b0b;


  }
}

#delete-completed-button { 
  margin-left: 50px;
  background-color: transparent;
  border: none;
  padding: 8px;
  size: 500%;
  cursor: pointer;
  animation: myAnim 10s ease 0s 200 normal none;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(-48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(-26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(-13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(-6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(-4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}
footer{ 
  text-align: center;
  margin-top: 75px;
  text-shadow: -10px 5px 5px red;
  animation: animate 1.5s linear infinite;
} 
 
@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}